.git
.gitignore
.dockerignore
.env
.env.*
**/.env
**/.env.*

target/
**/target/
!target/
!target/compensation-0.0.1-SNAPSHOT.jar
compensation-react/node_modules/
compensation-react/dist/
compensation-react/dist-ssr/
runtime/
logs/
*.log

.idea/
.vscode/
backups/
db_backups/

src/main/resources/application-dev.yml
src/main/resources/application-staging.yml
src/main/resources/application-test.yml
src/main/resources/application-local.yml
